body {
    background-color: #f0927ad7;
   }
*{
    font-family: "Times New Roman", sans-serif;
}
.header {
    color:rgb(173, 37, 37);
    background-color: white;
    text-align: center;
}
.big {
    font-size: 38px;
}
.small{
    font-size:32px;
}
.listelement {
    font-size: 24px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }