body {
    background-color: #f0927ad7;
    background-image: url("./images/rockbreakfast.jpg");
    background-repeat: no-repeat;
   }
*{
    font-family: "Times New Roman", sans-serif;
}
.header {
    color:rgb(173, 37, 37);
}
.header.big {
    font-size: 38px;
}
.small{
    font-size:32px;
}
.listelement {
    font-size: 24px;
}